/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * Éste es el ejemplo de un componente. Componentes clases inician con un `c-`.
 */

/**
 * 1. Hacer que los botones hereden estilos de fuente (a menudo necesarios 
 * cuando se diseña `input`s como botones).
 * 2. Forzar que todos los elementos con estilo de botón parezcan cliqueables.
 */
 $light: #FBFCFC;
 $red: #C0302B;
 $blue: #33A4FD;
 $gray: #BFC9CA;
 $gray--btn: #515A5A;
 $danger: #EF5350;
 $danger--dark: #E53935;
 $success: #66BB6A;
 $success--dark: #43A047;
 $warning: #FFEE58;
 $warning--dark: #FDD938;
 
 @mixin align-item--c {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 @mixin align-item--v {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 
 body {
   margin: 0;
   height: 100vh;
   @include align-item--c;
   font-family: Helvetica, sans-serif;
   
   .cajero {
     height: 800px;
     width: 800px;
     margin: 0;
     padding: 5px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     
     
     .c-head {
       background: linear-gradient(180deg, rgba(231,231,231,1) 0%, rgba(155,155,155,1) 100%);
       padding: 15px;
       border-radius: 25px 25px 0 0;
       grid-column: 1 / 5;
       grid-row: 1 / 2;
       display: grid;
       grid-template-columns: 100px 1fr 100px;
       grid-template-areas:
         "btn-izq pantalla btn-der";
       &__btn--izq {
         grid-area: btn-izq;
         @include align-item--v;
       }
       &__pantalla {
         grid-area: pantalla;
         @include align-item--c;
       }
       &__btn--der {
         grid-area: btn-der;
         @include align-item--v;
       }
     }
     
     
     .c-body {
       background: linear-gradient(180deg, rgba(155,155,155,1) 0%, rgba(124,124,124,1) 100%);
       padding: 15px;
       border-radius: 0 0 25px 25px;
       grid-column: 1 / 5;
       grid-row: 2 / 3;
       display: grid;
       grid-template-columns: 60% 40%;
       grid-template-rows: 1fr 1fr;
       &__btn {
         grid-column: 1 / 2;
         grid-row: 1 / 3;
         @include align-item--c;
         &--num {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           gap: 15px;
         }
         &--act {
           margin-left: 15px;
           display: grid;
           grid-template-columns: 1fr;
           gap: 15px;
         }
       }
       &__card {
         grid-column: 2 / 3;
         grid-row: 1 / 2;
         @include align-item--c;
         .card-cont {
           height: 60px;
           width: 210px;
           border-radius: 10px;
           &--top {
             height: 15px;
             background: #6DF473;
             border-radius: 7px 7px 0 0;
           }
           &--middle {
             height: 25px;
             background: #9E9E9E;
           }
           &--bottom {
             height: 20px;
             background: #757575;
             border-radius: 0 0 7px 7px;
             position: relative;
             .circle {
               height: 35px;
               width: 50px;
               background: #757575;
               border-radius: 25px 25px 0 0;
               overflow: hidden;
               position: absolute;
               top: -15px;
               left: 38%;
             }
           }
         }
       }
       &__bill {
         grid-column: 2 / 3;
         grid-row: 2 / 3;
         @include align-item--c;
         .bill-cont {
           height: 50px;
           width: 200px;
           padding: 10px;
           background: #757575;
           border-radius: 10px;
           &--top {
             height: 25px;
             width: 200px;
             background: #9E9E9E;
             border-radius: 7px 7px 0 0;
           }
           &--bottom {
             height: 25px;
             width: 200px;
             background: #616161;
             border-radius: 0 0 7px 7px;
           }
         }
       }
     }
     
     
   }
 }
 
 
 .btn {
   min-height: 30px;
   min-width: 30px;
   cursor: pointer;
   &--opc {
     height: 40px;
     width: 60px;
     margin: 20px 0;
     background: $gray--btn;
     border-width: 0;
     border-radius: 7px;
     box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
     &:active {
       box-shadow: none;
     }
     &:focus {
       outline:0;
     }
   }
   &--num,
   &--act {
     height: 65px;
     width: 80px;
     border: 3px solid $gray;
     border-radius: 7px;
     box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
     &:active {
       box-shadow: none;
     }
     &:focus {
       outline:0;
     }
   }
   &--danger {
     background: $danger;
     color: $danger--dark;
   }
   &--success {
     background: $success;
     color: $success--dark;
   }
   &--warning {
     background: $warning;
     color: $warning--dark;
   }
 }
 
 .pantalla {
   height: 300px;
   width: 530px;
   padding: 15px;
   border-radius: 20px;
   color: $light;
   background: linear-gradient(180deg, rgba(113,161,255,1) 0%, rgba(51,107,255,1) 100%);
 
 }