@charset "UTF-8";
/* ==========================================================================
   LUISARDILA
   ========================================================================== */
/**
 * CajeroApp, by @luisardilag
 */
/**
 * CONTENTS
 *
 *
 * COMPONENTS
 * Buttons..............Button component.
 */
/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * Éste es el ejemplo de un componente. Componentes clases inician con un `c-`.
 */
/**
 * 1. Hacer que los botones hereden estilos de fuente (a menudo necesarios 
 * cuando se diseña `input`s como botones).
 * 2. Forzar que todos los elementos con estilo de botón parezcan cliqueables.
 */
body {
  margin: 0;
}

body .cajero {
  height: 800px;
  width: 800px;
  margin: 0;
  background: #C0392B;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

body .cajero .c-head {
  background: #0E6655;
  padding: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 100px;
      grid-template-columns: 100px 1fr 100px;
      grid-template-areas: "btn-izq pantalla btn-der";
}

body .cajero .c-head__btn--izq {
  background: #16A085;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn-izq;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cajero .c-head__pantalla {
  background: #A2D9CE;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pantalla;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cajero .c-head__btn--der {
  background: #16A085;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: btn-der;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cajero .c-body {
  background: #1A5276;
  padding: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

body .cajero .c-body__btn--numericos {
  background: #85C1E9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cajero .c-body__tarjeta {
  background: #5499C7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cajero .c-body__billetes {
  background: #2874A6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */